/***** GENERAL *****/
body{
	color: $secondary-color;
	position: relative;
}

/*** HEADER ***/
header{
	border-right-width: 1px; 
	border-right-style: solid;
	border-right-color: darken($primary-color, 20);
	height: 100%;
	padding: 0 !important;
	position: fixed;
	top: 0;
	left: 0;
	width: 250px;
	z-index: 100;
}
.logo{ 
	padding: 1.5em 0 .4em;
	text-align: center;

	img{
		margin-bottom: -45px;
		width: 320px;
		max-width: 90%;
	}
	h1{
		margin: 0;
		text-indent: -999999px;
	}
}
nav{
	ul{
		padding-left: 0;
	}
	li{
		border-top-width: 1px; 
		border-top-style: solid;
		border-top-color: darken($primary-color, 10);
		border-left-width: 5px; 
		border-left-style: solid;
		border-left-color: $primary-color;
		font-size: 1.1em;
		font-weight: bold;
		line-height: 1;
		list-style: none;
		padding: 1em 0;
		text-transform: uppercase;
		
		&:last-child{
			border-bottom-width: 1px; 
			border-bottom-style: solid;
			border-bottom-color: darken($primary-color, 10);
		}
		&.active{
			border-left-width: 5px; 
			border-left-style: solid;
			border-left-color: $tertiary-color;

			a{
				color: $secondary-color;
			}
		}
		&:hover a{
			color: $secondary-color;
		}	
		a{
			color: darken($primary-color, 20);
			display: inline-block;
			font-size: .9em;
			padding: 0 .8em 0 2.2em;
			text-decoration: none;
		}
		span{
			color: $quaternary-color;
			display: block;
			font-size: .7em;
			font-weight: bold;
			text-transform: uppercase;
		}
	}		
}
.nav-menu{
	.logo {
		padding: 4em 0;

		img{
			width: 200px;
		}
	}	
}

/*** SECOND NAV ***/
#second-nav{
	background-color: $primary-color;

	input[type="search"]{
		background-color: $primary-color;
		border: 0;
		width: auto;
	}
	ul{
		margin: 0;
		padding: .61em 0;
	}
	li{
		float: right;
		list-style: none;
		padding: .2em 1em;

		&:last-child{
			border-right-width: 1px; 
			border-right-style: solid;
			border-right-color: darken($primary-color, 20);

			a{
				padding-top: 5px;
    			display: inline-block;
			}
			img{
				margin-top: -5px;
				width: 25px;
			}
		}
		&:first-child a{
			display: inline-block;
			padding-top: 5px;
		}
	}
	a{
		color: $secondary-color;
		text-decoration: none;

		&:hover{
			color: $quaternary-color;
		}
	}
	.user-name{
		font-weight: bold;
	}
	.avatar{
		overflow: hidden;
		border-radius: 100px;
		border: 1px solid darken($primary-color, 20);
		height: 45px;
		width: 45px;
		display: inline-block;
		margin: -18px 0 -14px 5px;

		img{
			height: 100%;
			width: 100%;
		}
	}
	.search-panel{
		img{
			width: 28px;
		}
		input{
			margin: .4em 0;
			padding: .61em;
		}
	}
}
 

/*** CONTENT ***/
#main-content{
	background-color: darken($primary-color, 5);
	min-height: 100%;
	width: 100%;
	padding-left: 250px;
}
.content-container{
	width: 90%;
	margin: 0 auto;
	padding: 1.5em 0 2em;
}
p{
	line-height: 1.5;
}
a{
	color: $secondary-color;

	&:hover{
		color: $quaternary-color;
	}
}
li{
	line-height: 1.5;
	list-style: none;
}

.separation{
	background-color: darken($primary-color, 20);
	display: block;
	height: 2px;
	width: 90%;
	max-width: 450px;
	margin: 1em auto;
}
.btn-fb{
	background-color: #3b5998;
	border-radius: 25px;
	color: $primary-color;
	display: inline-block;
	font-weight: bold;
	margin: .5em 0;
	padding: .8em .3em;
    text-align: center;
    text-decoration: none;
    width: 100%;
    max-width: 500px;

    &:hover{
    	background-color: darken(#3b5998, 10);
    	color: $primary-color;
    }	
    span{
    	display: inline-block;
    }
    img{
    	margin: -4px .5em 0 0;
    	width: 25px;
    }
}
input{
	background-color: darken($primary-color, 5);
	border: 1px solid darken($primary-color, 5);
	margin: .6em 0;
	padding: .8em .8em;
	width: 100%;

	&:focus{
		outline-color: $tertiary-color;
	}
}
input[type="submit"]{
	background-color: $tertiary-color;
	border: none;
	border-radius: 4px;
	color: $primary-color;
	font-weight: bold;
    margin: 1.5em 0 .5em;
    padding: .8em .3em;
    text-transform: uppercase;

    &:hover{
    	background-color: $quaternary-color;
    }
}
a.btn{
	background-color: $quaternary-color;
	border-radius: 4px;
	color: $primary-color;
	display: inline-block;
	font-size: 1.15em;
	font-weight: bold;
	margin: 1em 0 .5em;
	padding: .8em 2em;
	text-decoration: none;
	text-transform: uppercase;

	&:hover{
		background-color: $tertiary-color;
	}	
}
a.btn-secondaire{
	background-color: $tertiary-color;
	font-size: 1em;

	&:hover{
		background-color: $quaternary-color;
	}
}
a.btn-retour{
	background-color: initial;
	border: 3px solid $tertiary-color;
	color: $tertiary-color;
	font-size: 1em;
	padding: .6em 2em;

	&:hover{
		color: $primary-color;
	}
}
a.btn-favoris{
	background-color: initial;
	border: 3px solid $primary-color;
	color: $primary-color;
	font-size: 1em;
	margin: 0;
	padding: .6em 2em;
	text-transform: none;

	&:hover{
		background-color: $primary-color;
		color: $tertiary-color;
	}
}
h2{
	text-transform: uppercase;
}
.titre-deco{
	background-color: $tertiary-color;
	display: block;
	height: 6px;
	width: 100px;
	margin: -.5em 0 1em;
}
.container-content{
	margin: 0 auto;
	padding: 1.2em;
	width: 80%;
}

/*** CONNEXION / INSCRIPTION ***/
.connexion, .inscription {
	height: 100%;
	padding-left: 0 !important;

	.logo{
		padding: 4em 3em;
	}
	.row, .col-lg-8, .col-lg-4{
		height: 100%; 
	}
	.col-lg-8{
		background: url('../images/fond-connexion.jpeg') center center no-repeat;
		background-size: cover;
	}
	.col-lg-4{
		background: $primary-color;
		padding: 5em 2em;
		text-align: center;
	}

	p.error{
		color: #f10000;
		font-weight: bold;
		height: 20px;
		text-align: center;
	}
	form{
    	margin: 0 auto;
		text-align: right;
		width: 100%;
		max-width: 500px;
	}	
	a.mdp-oublie{
		color: $quaternary-color;
		display: inline-block;
   		margin: 1em 0 .5em;

   		&:hover{
   			color: $tertiary-color;
   		}
	}
	input[type="submit"]{
		border-radius: 25px;
	}
}

/*** ACCUEIL ***/
.complete-profile{
	background: url('../images/avenir-accueil-complete-profil.png') center center no-repeat;
	background-size: cover;
	color: $primary-color;
	font-weight: bold;
	padding: 2.2em .5em 1.8em;
	text-align: center;

	img{
		width: 95px;
	}
	h2{
		font-size: 2.1em;
		margin-bottom: .2em;
	}
	p{
		font-size: 1.3em;
	}
}
.news{
	.bloc-news{		
		color: $primary-color;
		margin: 1em 0;
		text-align: center;

		a{
			color: $primary-color;
			display: block;
			text-decoration: none;
		}
		div{
			background-size: cover !important;
			border-radius: 10px;
			padding: 5em .5em;
		}
		&:first-child div{
			background: url('../images/jobfutur.png') center center no-repeat;
		}
		&:nth-child(2) div{
			background: url('../images/portrait.png') center center no-repeat;
		}
		&:nth-child(3) div{
			background: url('../images/ecolecommerce.png') center center no-repeat;
		}
		&:nth-child(4) div{
			background: url('../images/accueil-lesaistu.png') center center no-repeat;
		}
		&:last-child div{
			background: url('../images/avenir-accueil-event.png') center center no-repeat;
		}
		h2{
			font-size: 2.1em;
			margin: .2em 0;
		}
		p{
			font-size: 1.15em;
			margin: .2em;
		}
		img{
			width: 35px;
			margin-bottom: .7em;
		}
	}
}

/*** ARTICLES ***/
.articles{
	.content-container > div:first-child{
		text-align: right;
	}
	.article{
		background-color: $primary-color;
		border-radius: 5px;
		margin-top: 1.5em;
		overflow: hidden;
	}
	.header-article{
		background-size: cover !important;
		color: $primary-color;
		padding: 2.2em 2.8em;
		min-height: 350px;

		&.top10{
			background: url('../images/jobfutur.png') center center no-repeat;
		}
		&.doriann{
			background: url('../images/portrait.png') center center no-repeat;
		}
		&.top5{
			background: url('../images/ecolecommerce.png') center center no-repeat;
		}
		h2{
			font-size: 2.2em;
			margin-top: 2.5em;
		}
		p{
			font-size: 1.2em;
		}
	}		
	.content-article{
		padding: 2em 2.8em 5em;
	}
	.auteur-date{
		color: $tertiary-color;
		font-style: italic;
		font-weight: bold;
	}
	h3{
		margin-top: 2.5em;
	}
}
/*** EVENT ***/
.event{
	.header-article{
		background: url('../images/header_event.png') center center no-repeat;
		padding-top: 8em;
	}
	h3{
		color: $tertiary-color;
		font-size: 1.6em;
		margin-top: 1em;
	}
	.lieu{
		color: darken($primary-color, 40);
		font-size: 1.4em;
		font-weight: bold;
		margin-bottom: 2em;
	}
	a.btn{
		margin-top: 4em;
	}
}

/*** PROFIL ***/
.profil{

	h2{
		text-transform: none;
	}
	h4{
		margin: 0;
	}
	h5{
		margin: 0;
		text-transform: uppercase;
	}
	.blocs{
		background-color: $primary-color;
		border-radius: 4px;
		padding: 1em;
		position: relative;
	}
	.row{
		margin-bottom: 2em;
	}
	.presentation .blocs{
		height: 100%;
	}
	.avatar, .infos{
		float: left;
	}
	.avatar{
		overflow: hidden;
		border-radius: 100px;
		border: 1px solid darken($primary-color, 20);
		width: 120px;
		height: 120px;

		img{
			width: 100%;
			height: 100%;
		}
	}
	.cv, .lm{
		div{
			border-radius: 4px;
			height: 100%;
			padding: 2em .5em;
			position: relative;
			text-align: center;
		}	
		p{
			color: $primary-color;
			font-weight: bold;
			text-transform: uppercase;
		}
		img{
			width: 70%;
		}
		span{
			position: absolute;
			right: 5px;
			bottom: 5px;
		}
	}
	.cv div{
		background-color: #521ab3;
	}
	.lm div{
		background-color: $tertiary-color;
	}
	.typcn{
		font-size: 1.2em;
	}
	.typcn-edit{
		color: darken($primary-color, 30);
		font-size: 1.5em;
		position: absolute;
		bottom: 5px;
		right: 5px;
	}
	.competences, .ctr-interets{
		position: relative;

		ul{
			margin: 0;
			padding-left: 0;
		}
		li{
			background-color: #f25b61;
			border-radius: 4px;
			color: $primary-color;
			display: inline-block;
			font-weight: bold;
			margin-right: 5px;
			margin-bottom: 5px;
			padding: .7em 1em;
		}
		.typcn-edit{
			bottom: initial;
			top: 1em;
			right: 1em;
		}
	}
	.ctr-interets li{
		background-color: $tertiary-color;
	}
}
/*** EDITION PROFIL ***/
.edit-profil{
	.infos{
		background-color: $primary-color;
		border-radius: 4px;
		margin: 1.5em auto 0;
		padding: 1em 2em;
		width: 920px;
		max-width: 98%;
	}
	.retour-profil{
		text-align: right;
	}
	label{
		display: inline-block;
		vertical-align: middle;
		width: 250px;
	}
	input{
		width: 600px;
		max-width: 100%;
	}
	input[type="submit"]{
		width: auto;
		padding: .8em 1.5em;
		float: right;
	}
}


/*** RECHERCHE ***/
.recherche{
	
	input[type="submit"]{
		padding: .8em 1.5em;
		width: auto;
	}
	input[type="search"]{
		background-color: $primary-color;
		box-sizing: border-box;
		margin-right: .5em;
		width: 600px;
	}
	select{
		border: 0;
		margin-right: .5em;
		padding: .8em 1em;
	}
	.results{
		background-color: $primary-color;
		margin-top: 1.5em;
		padding: 1em 2em;
	}
	table{
		font-weight: bold;
		width: 100%;

		td{
			padding: 1em .6em;

			&:first-child{
				width: 50%;
			}
			&:nth-child(2){
				width: 10%;
			}
			&:last-child{
				width: 40%;
			}
		}
		thead{
			border-bottom: 3px solid darken($primary-color, 15);
			color: darken($primary-color, 30);
		}
		tbody{
			tr:nth-child(2n){
				background-color: darken($primary-color, 5);
			}
		}
	}
}


/*** FICHES ***/
.fiches{

	> div:first-child{
		text-align: right;
	}	

	.fiche{
		background-color: $primary-color;
		margin-top: 1.5em;
	}
	.header-fiche{
		background-size: cover !important;
		color: $primary-color;
		padding: 2.2em 2.8em;

		h2{
			font-size: 2.2em;
			margin-top: 2.5em;
		}
		p{
			font-size: 1.2em;
		}
	}		
	.content-fiche{
		padding: 2em 2.8em;
	}
	.informations{
		p{
			margin: 0.6em 0;
		}
		strong{
			display: inline-block;
			width: 245px;
		}
	}
	h3{
		border-radius: 0 50px 50px 0;
		color: $primary-color;
		display: inline-block;
		font-size: 1.5em;
		margin-left: -1.87em;
		margin-top: 2em;
		padding: .6em 2.5em .6em 1.75em;
		text-transform: uppercase;
	}
	h4{
		font-size: 1.4em;
	}
}

/*** Fiche métier ***/
.fiche-metier{
	.header-fiche{
		background: url('../images/avenir-fiche-metier_header.png') top center no-repeat;
	}
	h3{
		background-color: #3aedcc;
	}
	.competences{
		h4{
			font-size: 1.7em;
    		margin-bottom: 1em;
		}
		ul{
			margin: 0;
			padding-left: 0;
		}
		li{
			background-color: #f25b61;
			border-radius: 4px;
			color: $primary-color;
			display: inline-block;
			font-weight: bold;
			margin-right: 5px;
			padding: .7em 1em;
		}
	}
	.etudes{
		div{
			margin-bottom: 1.5em;
		}
		p{
			margin: .5em;
		}
	}
}
/*** Fiche école ***/
.fiche-ecole{
	.header-fiche{
		background: url('../images/avenir-fiche-ecole_header.png') top center no-repeat;

		h2{
			margin-top: 4.5em;
		}
	}
	h3{
		background-color: #f25b61;
	}	
}
/*** Fiche formation ***/
.fiche-formation{
	.header-fiche{
		background: url('../images/avenir-fiche-formation_header.png') top center no-repeat;

		h2{
			margin-top: 4.5em;
		}
	}
	h3{
		background-color: #521ab3;
	}
	table{
		font-weight: bold;
		width: 100%;

		td{
			padding: 1em .6em;

			&:first-child{
				width: 70%;
			}
			&:nth-child(2){
				width: 10%;
			}
			&:last-child{
				width: 20%;
			}
		}
		thead{
			border-bottom: 3px solid darken($primary-color, 15);
			color: darken($primary-color, 30);
		}
		tbody{
			tr:nth-child(2n){
				background-color: darken($primary-color, 5);
			}
		}
	}
}


/********************
*** MEDIA QUERIES *** 
*********************/
@media all and (max-width: $sm-screen){
	.connexion{
		.col-lg-8{
			height: 240px;
		}
		.col-lg-4{
			height: auto;
			padding: 1em 2em;
		}

	}
}
@media all and (max-width: $xs-screen){
	.connexion{
		.col-lg-8{
			height: 200px;
		}
		.col-lg-4{
			height: auto;
			padding: 1em 1em;
		}

	}
}