/***** GENERAL *****/
body{
	position: relative;
}

/*** HEADER ***/
header{
	border-right-width: 1px; 
	border-right-style: solid;
	border-right-color: darken($primary-color, 20);
	height: 100%;
	padding: 0 !important;
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	z-index: 100;
}
.logo{ 
	padding: 1em 0 .4em;
	text-align: center;

	img{
		margin-bottom: -45px;
		width: 360px;
		max-width: 90%;
	}
	h1{
		margin: 0;
		text-indent: -999999px;
	}
}
nav{
	ul{
		padding-left: 0;
	}
	li{
		border-top-width: 1px; 
		border-top-style: solid;
		border-top-color: darken($primary-color, 20);
		border-left-width: 5px; 
		border-left-style: solid;
		border-left-color: $primary-color;
		font-weight: bold;
		list-style: none;
		padding: 1.2em 0;
		text-transform: uppercase;
		
		&:last-child{
			border-bottom-width: 1px; 
			border-bottom-style: solid;
			border-bottom-color: darken($primary-color, 20);
		}
		&.active{
			border-left-width: 5px; 
			border-left-style: solid;
			border-left-color: $tertiary-color;

			a{
				color: $secondary-color;
			}
		}
		&:hover a{
			color: $secondary-color;
		}	
		a{
			color: darken($primary-color, 20);
			display: inline-block;
			padding: 0 .8em 0 2.2em;
			text-decoration: none;
		}
		span{
			color: $quaternary-color;
			display: block;
			font-size: .65em;
			font-weight: bold;
			text-transform: uppercase;
		}
	}	
}

/*** SECOND NAV ***/
#second-nav{
	background-color: $primary-color;

	input[type="search"]{
		background-color: $primary-color;
		border: 0;
		width: auto;
	}
	ul{
		margin: 0;
		padding: .68em 0;
	}
	li{
		float: right;
		list-style: none;
		padding: .5em 1em;

		&:last-child{
			border-right-width: 1px; 
			border-right-style: solid;
			border-right-color: darken($primary-color, 20);

			a{
				padding-top: 5px;
    			display: inline-block;
			}
			img{
				margin-top: -5px;
				width: 25px;
			}
		}
	}
	a{
		color: $secondary-color;
		text-decoration: none;

		&:hover{
			color: $quaternary-color;
		}
	}
	.user-name{
		font-weight: bold;
	}
}


/*** CONTENT ***/
#main-content{
	background-color: darken($primary-color, 5);
	min-height: 100%;
	width: 100%;
	padding-left: 300px;
}

.separation{
	background-color: darken($primary-color, 20);
	display: block;
	height: 1px;
	width: 90%;
	margin: 1em auto;
}
.btn-fb{
	background-color: #3b5998;
	border-radius: 25px;
	color: $primary-color;
	display: inline-block;
	font-size: 1.1em;
	font-weight: bold;
	margin: .5em 0;
	padding: .8em .3em;
    text-align: center;
    text-decoration: none;
    width: 100%;

    &:hover{
    	background-color: darken(#3b5998, 10);
    }	
    span{
    	display: inline-block;
    }
    img{
    	margin: -4px .5em 0 0;
    	width: 25px;
    }
}
input{
	background-color: darken($primary-color, 5);
	border: 1px solid darken($primary-color, 5);
	margin: .6em 0;
	padding: .8em .8em;
	width: 100%;

	&:focus{
		outline-color: $tertiary-color;
	}
}
input[type="submit"]{
	background-color: $tertiary-color;
	border: none;
	border-radius: 25px;
	color: $primary-color;	 
	font-size: 1.1em;   
	font-weight: bold;
    margin: 1.5em 0 .5em;
    padding: .8em .3em;
    text-transform: uppercase;

    &:hover{
    	background-color: $quaternary-color;
    }
}

/*** CONNEXION ***/
.connexion {
	height: 100%;
	padding-left: 0 !important;

	.logo{
		padding: 0;
	}
	.row, .col-lg-8, .col-lg-4{
		height: 100%; 
	}
	.col-lg-8{
		background: url('../images/fond-connexion.jpeg') center center no-repeat;
		background-size: cover;
	}
	.col-lg-4{
		background: $primary-color;
		padding: 5em 2em;
	}

	p.error{
		color: #f10000;
		font-weight: bold;
		height: 20px;
		text-align: center;
	}
	form{
		text-align: right;
	}	
	a.mdp-oublie{
		color: $quaternary-color;
		display: inline-block;
   		margin: 1em 0 .5em;

   		&:hover{
   			color: $tertiary-color;
   		}
	}
}


/********************
*** MEDIA QUERIES ***
*********************/
@media all and (max-width: $sm-screen){
	.connexion{
		.col-lg-8{
			height: 240px;
		}
		.col-lg-4{
			height: auto;
			padding: 1em 2em;
		}

	}
}
@media all and (max-width: $xs-screen){
	.connexion{
		.col-lg-8{
			height: 200px;
		}
		.col-lg-4{
			height: auto;
			padding: 1em 1em;
		}

	}
}